div{
    background-color: blue;
    padding: 10px;
}
p{
    color: yellow;
    /* background-color: blue; */
}
.inner-box{
    background-color: red;
}
.inner-box p{
    color: white;
    /* background-color: red; */
}